---
export interface Props {
	date: String;
}

const { date } = Astro.props;

const viewDate = new Date(date)


const year = viewDate.getFullYear()
const dateNum = viewDate.getDate()
const monthName = viewDate.getMonth() + 1


---

<p class="text-gray-400 text-sm">
{year}/{monthName}/{dateNum}
</p>